#main-section{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 8vh;
    right: 0;
    width: 80%;
    height: 100%;
}

#tabla{
    margin-top: 15px;
    margin-left: 35px;
    width: 95%;
}

#tabla th{
    background-color: #894aff46;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    font-size: 14px;
}

#tabla td{
    padding: 15px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
}

#section-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formEditar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#formEditar div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#formEditar div div{
    font-size: 30px;
    padding: 20px;
    margin-left: 30%;
    width: 30%;
}

#formEditar div li{
    font-size: 20px;
    padding: 10px;
}

#Edinput{
    background-color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: black;
    border: 0;
    width: 40%;

}



#select-style{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

#Pinput{
    background-color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: black;
    width: 30%;

}

#Vinput{
    background-color: white;
    font-size: 28px;
    padding: 10px;
    margin: 10px;
    color: black;
    border: 0;
    width: 40%;

}

#side-button{

    background-color: #91f0e094;
    width: 10%;
    height: 7vh;
    font-size: 15px;
    margin-right: 5px;
    font-size: 20px;
}

#grupTB{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

}

#msjpy{
    margin: 5%;
    font-size: 30px;
}
